body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none !important;
}

.profileRecharge {
  color: #13853a;
  border: 1px solid #13853a;
  border-radius: 5px;
  padding: 7px 18px;
  font-size: 16px;
  display: block;
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
  background: #fff;
}


.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 0.8rem;
}

.delete-button:hover {
  background-color: darkred;
}


.recent-chat-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge-chat {
  position: absolute;
  top: 13%;
  right: -30%;
  background-color: #f0ad4e;
  color: #fff;
  /* padding: 1px 6px; */
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 15px;

}










/* style css / profile card css /  */
.profile-card-box {
  display: flex;
  align-items: center;
  /* background-color: #f4f4f4; */
  width: 100%;
  column-gap: 15px;
  padding: 2% 4%;
  flex-wrap: wrap;
}

.profile-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 32.7%;
  margin-bottom: 15px;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.profile-img {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  background: #ddd;
}

.stars {
  color: gold;
  font-size: 14px;
  margin-top: 5px;
}

.profile-card h3 {
  margin: 5px 0;
  font-size: 16px;
}

.verified {
  color: green;
  font-weight: bold;
}

.profile-card p {
  font-size: 12px;
  color: #555;
  margin: 3px 0;
}

.pricing {
  font-weight: bold;
  margin: 5px 0;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
  /* padding: 0px; */
}

.buttons button {
  width: 90px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.chat {
  background: #ffcc00;
  color: #000;
}

.call {
  /* background: #000; */
  color: #fff;
}

.price {
  border: 1px solid #a0a0a0;
  padding: 4px 19px;
  border-radius: 4px;
}

.buttons button:hover {
  opacity: 0.8;
}

.price {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.experience {
  font-size: 12px;
  font-weight: bold;
}

.experience {
  margin-top: 25px !important;
}

@media(max-width:1750px) {
  .profile-card {
    width: 32%;
  }
}

@media (max-width: 768px) {
  .profile-card-box {
    padding: 2% 2%;
    justify-content: center;
  }

  .profile-card {
    width: 48.5%;
  }
}

@media (max-width: 510px) {
  .profile-card {
    width: 46%;
  }
}

@media (max-width: 450px) {
  .profile-card {
    width: 100%;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
  }

  .left-section {
    align-items: center;
  }

  .chat-call-btn {
    /* flex-direction: row; */
    gap: 14px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.formarginzero{
  margin: 0px !important;
}

.redBorder{
  border:1px solid red !important;
}
.greenBorder{
  border:1px solid green !important;
}