/* Custom Styles for the Wallet component */

.wallet-list .table-container {
    background-color: #f8f9fa; /* Light background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wallet-list .custom-table {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.wallet-list .custom-table th,
.wallet-list .custom-table td {
    text-align: center;
    padding: 12px;
    font-size: 14px;
}

.wallet-list .custom-table th {
    background-color: #093369;
    color: white;
}

.wallet-list .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.wallet-list .sortbtn{
    background-color: #F3AC36;
}

.wallet-list .page-btn {
    background-color: #F3AC36;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.wallet-list .page-btn:hover {
    background-color: #0056b3;
}

.wallet-list .page-btn.active {
    background-color: #093369;
    font-weight: bold;
}

.wallet-list .page-btn:focus {
    outline: none;
}
